<nz-card>
  <div class="grid">
    <div
      class="col-12 md:col-6 lg:col-4 flex justify-content-center align-items-center"
    >
      <img src="assets/stats/business.png" alt="" />
    </div>
    <div class="col-12 md:col-6 lg:col-8">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
          <div class="grid">
            <div class="col-6 md:col-6 lg:col-6">
              <h2>Negocios</h2>
            </div>
            <div class="col-6 md:col-6 lg:col-6 flex justify-content-end">
              <nz-card (click)="onBusiness()" class="card-business-new flex align-items-center justify-content-center">
                <i class="pi pi-plus"></i
              ></nz-card>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
          <h4>Negocios recientes:</h4>
          <nz-card class="card-business">
            <nz-card class="card-business-content" *ngFor="let business of business">
              <div class="grid">
                <div class="col-12 md:col-4 lg:col-4 flex justify-content-center align-items-center">
                  <img class="header-img" src="{{business.business_image ?? 'assets/blanco.jpg'}}" [attr.alt]="business.business_name" />
                </div>
                <div class="col-12 md:col-4 lg:col-4 flex justify-content-center align-items-center">{{ business.business_name }}</div>
                <div
                  class="col-12 md:col-4 lg:col-4 flex justify-content-center align-items-center"
                >
                  <p-badge
                    [value]="
                      business.business_is_delete ? 'Inactivo' : 'Activo'
                    "
                    [style]="{
                      'background-color':
                        '' + business.business_is_delete
                          ? '#22a055'
                          : '#892525' + ''
                    }"
                  ></p-badge>
                </div>
              </div>
            </nz-card>

            <p-messages
              *ngIf="!business"
              [(value)]="messages"
              [enableService]="false"
              [closable]="false"
            ></p-messages>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</nz-card>
