nz-card {
  padding: 10px !important;
}

.nz-card-header {
  border-radius: 15px !important;
}

.avatar {
  position: absolute !important;
  margin-left: 50px !important;
  margin-top: 35px !important;
}

.card-chat-receive {
  border-radius: 15px !important;
  background-color: #e5e8f4 !important;
}

.bg-blue {
  background-color: #254e89 !important;
  font-size: 8px !important;
  border-radius: 10px !important;
}
