<p>Hi {{ business }},</p>
<p>Thank you for registering in evony technology.</p>
<p>
Our team is committed to helping you continue to grow your business.
</p>

<p>If you did not request this email you can safely ignore it.</p>