.btn-plus {
  width: 30px;
  height: 30px;
  padding-top: 4px !important;
  color: #537eff !important;
  border-radius: 100% !important;
  background-color: #acc1ff !important;
  cursor: pointer;
}

nz-card {
  border-radius: 15px !important;
}
