<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <nz-card>
      <h4>PERSONALIZA LA BARRA DE MENÚ IZQUIERDA</h4>
      <nz-divider></nz-divider>
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
              <nz-card>
                <h4>Todos los usuarios</h4>
              </nz-card>
            </div>
            <div class="col-12 md:col-12 lg:col-12">
              <nz-card>
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-3"></div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
              <nz-card>
                <nz-card
                  class="btn-plus flex justify-content-center align-items-center"
                >
                  <i class="pi pi-plus"></i>
                </nz-card>
              </nz-card>
            </div>
            <div class="col-12 md:col-12 lg:col-12">
              <nz-card> </nz-card>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
