.header-img {
  width: 200px !important;
  height: 200px !important;
  border-radius: 100% !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}

.header-image {
  width: 200px !important;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #ffffff !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
