<div class="p-fluid grid">
  <div class="col-12 md:col-6 flex justify-content-start align-content-center flex-wrap">
    <nz-page-header class="site-page-header" nzTitle="{{ name }}" />
  </div>
  <div class="field col-12 md:col-6 lg:col-6">
    <div class="p-fluid grid flex justify-content-end">
      <div class="field col-12 md:col-12 lg:col-12">
        <button
          (click)="onCustomerForm()"
          pButton
          type="button"
          label="Crear nuevos clientes"
        ></button>
      </div>
    </div>
  </div>
</div>
<nz-divider></nz-divider>
<div class="grid">
  <div
    class="col-12 md:col-12 lg:col-6 flex justify-content-center text-center"
  >
    <div class="grid"></div>
    <nz-card class="card-active-tabs" (click)="onCustomerActive()">
      Clientes activos
    </nz-card>
  </div>
  <div
    class="col-12 md:col-12 lg:col-6 justify-content-center flex text-center"
  >
    <nz-card class="card-inactive-tabs" (click)="onCustomerInactive()">
      Clientes inactivos
    </nz-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <router-outlet></router-outlet>
  </div>
</div>
