nz-card {
  padding: 10px !important;
}

.bg-blue {
  background-color: #254e89 !important;
  font-size: 8px !important;
  border-radius: 10px !important;
}

.nz-card-header {
  border-radius: 15px 15px 0px 0px !important;
}
