<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <nz-card class="nz-card-header">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
          <h3>Lead #11091281</h3>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
          <p-badge
            [value]="'AGREGAR ETIQUETAS'"
            [style]="{ 'background-color': '#13466A' }"
          ></p-badge>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
          <h4>LEADS ENTRANTES(HOY)</h4>
          <nz-progress
            [nzPercent]="30"
            nzStatus="active"
            [nzShowInfo]="false"
            [nzStrokeColor]="'#254e89'"
          ></nz-progress>
        </div>
        <div class="col-12 md:col-12 lg:col-12 flex justify-content-center">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-6 flex justify-content-center">
              <button
                class="bg-blue"
                pButton
                pRipple
                label="PRINCIPAL"
              ></button>
            </div>
            <div class="col-12 md:col-6 lg:col-6 flex justify-content-center">
              <button
                class="bg-blue"
                pButton
                pRipple
                label="ESTADISTICAS"
              ></button>
            </div>
            <div class="col-12 md:col-6 lg:col-6 flex justify-content-center">
              <button class="bg-blue" pButton pRipple label="ARCHIVOS"></button>
            </div>
            <div class="col-12 md:col-6 lg:col-6 flex justify-content-center">
              <button
                class="bg-blue"
                pButton
                pRipple
                label="CONFIGURAR"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-6">USUARIO RESP.</div>
  <div class="col-12 md:col-6 lg:col-6">...</div>
  <div class="col-12 md:col-6 lg:col-6">PRESUPUESTO</div>
  <div class="col-12 md:col-6 lg:col-6">$0</div>
  <nz-divider></nz-divider>
  <div class="col-12 md:col-12 lg:col-12">
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p-avatar styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
      <div class="col-12 md:col-7 lg:col-7">
        <div class="grid">
          <div class="col-12 md:col-12 lg:col-12">
            <h3>OLIVER ZARZA</h3>
            <p-badge
              [value]="'MESSENGER'"
              [style]="{ 'background-color': '#0703BF' }"
            ></p-badge>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-6">COMPAÑIA</div>
  <div class="col-12 md:col-6 lg:col-6">...</div>
  <div class="col-12 md:col-6 lg:col-6">TELEFONO OFICINA</div>
  <div class="col-12 md:col-6 lg:col-6">...</div>
  <div class="col-12 md:col-6 lg:col-6">CORREO</div>
  <div class="col-12 md:col-6 lg:col-6">...</div>
  <div class="col-12 md:col-6 lg:col-6">CARGO</div>
  <div class="col-12 md:col-6 lg:col-6">...</div>
</div>
