nz-card {
  border-radius: 10px !important;
}

.nz-card-header {
  border-radius: 10px !important;
}

.button-rounded {
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  background-color: antiquewhite;
  align-items: center !important;
  cursor: pointer !important;
}

i {
  margin-top: 5px !important;
}

.avatar {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

p-badge {
  margin-left: 10px !important;
  cursor: pointer !important;
}
