<nz-card>
  <h4>Actualizar contraseña</h4>
  <nz-divider></nz-divider>
  <form [formGroup]="AccessForm" (ngSubmit)="update_password()">
    <div class="p-fluid grid">
      <div class="field col-12 md:col-12">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            id="access_password"
            pInputText
            name="access_password"
            formControlName="access_password"
          />
          <label for="access_password">Contraseña Actual</label>
        </span>
        <div
          *ngIf="
            AccessForm.get('access_password')?.invalid &&
            AccessForm.get('access_password')?.errors &&
            (AccessForm.get('access_password')?.dirty ||
              AccessForm.get('access_password')?.touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="AccessForm.get('access_password')?.hasError('required')"
          >
            <p>Necesitas ingresar tu contraseña</p>
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            id="access_new_password"
            pInputText
            name="access_new_password"
            formControlName="access_new_password"
          />
          <label for="access_new_password">Contraseña Nueva</label>
        </span>
        <div
          *ngIf="
            AccessForm.get('access_new_password')?.invalid &&
            AccessForm.get('access_new_password')?.errors &&
            (AccessForm.get('access_new_password')?.dirty ||
              AccessForm.get('access_new_password')?.touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="AccessForm.get('access_password')?.hasError('required')"
          >
            <p>Necesitas ingresar tu contraseña</p>
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            id="access_confirm_password"
            pInputText
            name="access_confirm_password"
            formControlName="access_confirm_password"
          />
          <label for="access_confirm_password">Confirmar Contraseña</label>
        </span>
        <div
          *ngIf="
            AccessForm.get('access_confirm_password')?.invalid &&
            AccessForm.get('access_confirm_password')?.errors &&
            (AccessForm.get('access_confirm_password')?.dirty ||
              AccessForm.get('access_confirm_password')?.touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="
              AccessForm.get('access_confirm_password')?.hasError('required')
            "
          >
            <p>Necesitas ingresar una contraseña</p>
          </small>
        </div>
        <small
          class="text-danger"
          *ngIf="AccessForm.errors?.['confirm'] && (AccessForm.touched || AccessForm.dirty)"
        >
          <p>Necesitas confirmar la contraseña.</p>
        </small>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-12 md:col-8">
        <div class="field col-12 md:col-12">
          <button
            pButton
            pRipple
            type="submit"
            label="Cambiar contraseña"
          ></button>
        </div>
      </div>
    </div>
  </form>
</nz-card>
