<nz-layout>
  <div class="grid">
    <div class="col-12 md:col-9 lg:col-9">
      <nz-card class="card-plans-content">
        <div class="grid">
          <!-- <div class="col-12 md:col-12 lg:col-12">
            <h5>USTED ESTA SUSCRITO A UN PLAN BASICO HASTA EL 18/11/23</h5>
            <h6>Pagado por 2 usuarios</h6>
          </div> -->
          <div class="col-12 md:col-4 lg:col-4">
            <nz-card class="card-plans">
              <!-- <h5>{{ plan.plans_name }}</h5> -->
              <h6>
                <!--  {{ plan.plans_description }} -->
              </h6>
              <div class="grid">
                <div
                  class="col-2 md:col-2 lg:col-2 flex justify-content-end align-items-center"
                >
                  <i class="pi pi-check" style="font-size: 0.9rem"></i>
                </div>
                <div
                  class="col-10 md:col-10 lg:col-10 flex justify-content-start align-items-center"
                >
                  <h6>Gestion de contactos y leads</h6>
                </div>
              </div>

              <div class="grid">
                <div
                  class="col-12 md:col-12 lg:col-12 flex justify-content-start align-items-center"
                >
                  <!-- <h3>${{ plan.plans_price }} USD/mes</h3> -->
                  <br />
                  <h6>por usuario</h6>
                </div>
              </div>
            </nz-card>
          </div>

          <!-- <div class="col-12 md:col-12 lg:col-12">
        <nz-card>
          <p-inputNumber
            [(ngModel)]="value3"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          ></p-inputNumber>
        </nz-card>
      </div> -->
          <!-- <div class="col-12 md:col-12 lg:col-12">
          <nz-card></nz-card>
        </div> -->
        </div>
      </nz-card>
    </div>
    <div class="col-12 md:col-3 lg:col-3">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
          <nz-card class="card-plans-content"> prueba </nz-card>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
