nz-card {
  border-radius: 20px !important;
}

.card-header {
  height: 500px !important;
}

.bg-blue {
  background-color: #254e89 !important;
}

.btn-customer {
  width: 50px;
  height: 50px;
  padding-top: 4px !important;
  color: #ffffff !important;
  border-radius: 100% !important;
  background-color: #22a055 !important;
  cursor: pointer;
}

.btn-follow-up {
  width: 50px;
  height: 50px;
  padding-top: 4px !important;
  color: #ffffff !important;
  border-radius: 100% !important;
  background-color: #a08522 !important;
  cursor: pointer;
}

.btn-calendar {
  width: 50px;
  height: 50px;
  padding-top: 4px !important;
  color: #ffffff !important;
  border-radius: 100% !important;
  background-color: #2299a0 !important;
  cursor: pointer;
}

.btn-delete {
  width: 50px;
  height: 50px;
  padding-top: 4px !important;
  color: #ffffff !important;
  border-radius: 100% !important;
  background-color: #892525 !important;
  cursor: pointer;
}
