nz-card {
  width: 100% !important;
  border-radius: 20px !important;
}

.btn-save {
  color: #ffffff !important;
  background-color: #22a055 !important;
}

.btn-update {
  color: #ffffff !important;
  background-color: #254e89 !important;
}
