<div class="grid">
  <div class="field col-12 md:col-12 lg:col-12">
    <nz-card class="nz-card-header">
      <div class="p-fluid grid">
        <div class="field col-12 md:col-12 lg:col-12">
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" />
            <label for="search">BUSCAR</label>
          </span>
        </div>
        <div class="col-12 md:col-6 lg:col-6 flex justify-content-start">
          <h4>ENTRADAS</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-6 flex justify-content-end">
          <p-badge
            [value]="'40'"
            [style]="{ 'background-color': '#13466A' }"
          ></p-badge>
        </div>
        <div class="col-12 md:col-6 lg:col-6 flex justify-content-start">
          <h4>FILTRO</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-6 flex justify-content-end">
          <h4>TOTAL:472</h4>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<br />
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <nz-card style="background-color: #eeeeff">
      <div class="grid">
        <div class="col-12 md:col-4 lg:col-4">
          <p-avatar styleClass="mr-2" size="xlarge" shape="circle">
            <p-avatar
              class="avatar"
              styleClass="mr-2"
              shape="circle"
              [style]="{ 'background-color': '#eeeeff' }"
            ></p-avatar>
          </p-avatar>
        </div>
        <div class="col-12 md:col-8 lg:col-8">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
              <h5>Lead #11091281</h5>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <p-badge [value]="'A581'" severity="success"></p-badge>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
              <h6>
                Leobado Lopez: Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse sit amet diam a sem tempor
                ultrices. Integer feugiat ligula a dignissim laoreet.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <nz-card style="background-color: #ffe7f2">
      <div class="grid">
        <div class="col-12 md:col-4 lg:col-4">
          <p-avatar styleClass="mr-2" size="xlarge" shape="circle">
            <p-avatar
              class="avatar"
              styleClass="mr-2"
              shape="circle"
              [style]="{ 'background-color': '#ffe7f2' }"
            ></p-avatar>
          </p-avatar>
        </div>
        <div class="col-12 md:col-8 lg:col-8">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
              <h5>Lead #11091281</h5>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <p-badge [value]="'A581'" severity="success"></p-badge>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
              <h6>
                Leobado Lopez: Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse sit amet diam a sem tempor
                ultrices. Integer feugiat ligula a dignissim laoreet.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <nz-card style="background-color: #eaffea">
      <div class="grid">
        <div class="col-12 md:col-4 lg:col-4">
          <p-avatar styleClass="mr-2" size="xlarge" shape="circle">
            <p-avatar
              class="avatar"
              styleClass="mr-2"
              shape="circle"
              [style]="{ 'background-color': '#eaffea' }"
            ></p-avatar>
          </p-avatar>
        </div>
        <div class="col-12 md:col-8 lg:col-8">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
              <h5>Lead #11091281</h5>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <p-badge [value]="'A581'" severity="success"></p-badge>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
              <h6>
                Leobado Lopez: Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse sit amet diam a sem tempor
                ultrices. Integer feugiat ligula a dignissim laoreet.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
