.card-header {
  border-radius: 20px !important;
  cursor: pointer !important;
}

.card-new {
  border-radius: 100% !important;
  width: 45px !important;
  height: 45px !important;
  cursor: pointer !important;
}

.btn-size {
  width: 100% !important;
  border-radius: 15px !important;
  font-size: 9px !important;
}

.example-box-card {
  width: 200px;
  height: 50px;
  border-radius: 15px !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
  margin: 5px;
  padding: 20px;
  padding-top: 30px;
  border-bottom: solid 0px #ccc;
  color: white !important;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
  box-sizing: border-box;
  cursor: pointer;
  background: rgb(34,160,85) !important;
  font-size: 12px;
}

.container-scroll {
  list-style-type: none;
  overflow-x: auto;
  white-space: nowrap;
  background: #ffffff;
}

.example-container {
  width: 300px !important;
  max-width: 100%;
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  border-radius: 20px !important;
}

.example-container-card {
  width: 300px !important;
  max-width: 100%;
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
  background: transparent !important;
}

.example-box-card {
  border-radius: 20px !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
  margin: 5px;
  padding: 20px;
  padding-top: 30px;
  border-bottom: solid 0px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
  box-sizing: border-box;
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: 12px;
}

.bg-blue {
  background-color: #254e89 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container-scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.container-scroll::-webkit-scrollbar-button:increment,
.container-scroll::-webkit-scrollbar-button {
  display: none;
}

.container-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.container-scroll::-webkit-scrollbar-thumb {
  background-color: #254e89;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.container-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

nz-card {
  width: 100% !important;
  border-radius: 20px !important;
}


.card-active-tabs {
  cursor: pointer !important;
  background-color: #d3fff2 !important;
}

.card-active-tabs:hover {
  -webkit-transform: scale(1.03) !important;
  -moz-transform: scale(1.03) !important;
  -o-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}

.card-inactive-tabs {
  cursor: pointer !important;
  background-color: #ffecec !important;
}

.card-inactive-tabs:hover {
  -webkit-transform: scale(1.03) !important;
  -moz-transform: scale(1.03) !important;
  -o-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}