<p-dialog
  header="Agregar Detalles"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
>
  <form [formGroup]="PlansDetailForm" (ngSubmit)="Save()">
    <br />
    <div class="p-fluid grid flex justify-content-center">
      <div class="field col-12 md:col-12 lg:col-12">
        <span class="p-float-label">
          <input
            type="text"
            id="plans_detail_description"
            pInputText
            name="plans_detail_description"
            formControlName="plans_detail_description"
          />
          <label for="plans_detail_description">Nombre</label>
        </span>
        <div
          *ngIf="
            PlansDetailForm.get('plans_detail_description')?.invalid &&
            PlansDetailForm.get('plans_detail_description')?.errors &&
            (PlansDetailForm.get('plans_detail_description')?.dirty ||
              PlansDetailForm.get('plans_detail_description')?.touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="
              PlansDetailForm.get('plans_detail_description')?.hasError(
                'required'
              )
            "
          >
            <p>Necesitas ingresar un nombre</p>
          </small>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="p-fluid grid">
      <div
        *ngIf="!plans_detail_uid"
        class="col-12 md:col-12 flex justify-content-center"
      >
        <div class="field col-12 md:col-4">
          <button pButton pRipple type="submit" label="Agregar"></button>
        </div>
      </div>
      <div *ngIf="plans_detail_uid" class="col-12 md:col-12 lg:col-12">
        <div class="grid">
          <div class="field col-6 md:col-6 lg:col-6">
            <button pButton pRipple type="submit" label="Editar"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
