<div class="grid">
  <div class="col-12 md:col-12 lg:col-12 flex justify-content-end">
    <nz-card
      (click)="showPlansModal()"
      class="card-plan-new flex align-items-center justify-content-center"
    >
      <i class="pi pi-plus"></i
    ></nz-card>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="grid">
      <div class="col-12 md:col-4 lg:col-4" *ngFor="let plan of plans">
        <nz-card class="card-plans">
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 flex justify-content-end">
              <nz-card
                (click)="showPlansModalEdit(plan.plans_uid)"
                class="card-plan-new flex align-items-center justify-content-center"
              >
                <i class="pi pi-pencil"></i
              ></nz-card>
            </div>
          </div>
          <h5>{{ plan.plans_name }}</h5>
          <h6>
            {{ plan.plans_description }}
          </h6>
          <nz-divider></nz-divider>
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 flex justify-content-end">
              <nz-card
                (click)="showPlansDetailModal(plan.plans_uid)"
                class="card-plan-new flex align-items-center justify-content-center"
              >
                <i class="pi pi-plus"></i
              ></nz-card>
            </div>
          </div>
          <div class="grid" *ngFor="let detail of plan.plans_detail">
            <div
              class="col-2 md:col-2 lg:col-2 flex justify-content-end align-items-center"
            >
              <i class="pi pi-check" style="font-size: 0.9rem"></i>
            </div>
            <div
              class="col-10 md:col-10 lg:col-10 flex justify-content-start align-items-center"
            >
              <h6>{{ detail.plans_detail_description }}</h6>
            </div>
            <div
              class="col-10 md:col-10 lg:col-10 flex justify-content-start align-items-center"
            >
              <nz-card
                (click)="showPlansDetailModalEdit(detail.plans_detail_uid)"
                class="card-plan-new flex align-items-center justify-content-center"
              >
                <i class="pi pi-plus"></i
              ></nz-card>
            </div>
          </div>

          <div class="grid">
            <div
              class="col-12 md:col-12 lg:col-12 flex justify-content-start align-items-center"
            >
              <h3>${{ plan.plans_price }} USD/mes</h3>
              <br />
              <h6>por usuario</h6>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
<app-plans-modal (RealoadPlans)="getPlans()"></app-plans-modal>
<app-plans-detail-modal (RealoadPlans)="getPlans()"></app-plans-detail-modal>
