nz-card {
  border-radius: 10px !important;
}

.card-plan-new {
  width: 35px !important;
  height: 35px !important;
  border-radius: 100% !important;
  padding-top: 4px !important;
  color: #ffffff !important;
  background-color: #22a055 !important;
  cursor: pointer;
}
